@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: 'rgba(0,0,0)';
  --color-primary: 'rgba(0,0,0)';
  --color-secondary: 'rgba(205,184,186)';
}

body {
  @apply bg-black text-white transition-all;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    var(--color-primary) 100%
  );
}
